@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root
{
    --black: rgba(0, 0, 0, 0.85);
    --white: #fff;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* theme change  */
.black-theme
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161623;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}